<%= error_messages_for :invitation %>
<% form_for @invitation do |f| %>
  <p>
    <%= f.label :recipient_email, "Friend's email address" %><br />
    <%= f.text_field :recipient_email %>
  </p>
  <p>
    <%= f.label :message, "Message"%><br/>
    <%= f.text_area :message %>
  </p>
  <p>
    <%= f.submit "Invite!" %>
  </p>
<% end %>
